.logoWrapper {
  display: flex;
  gap: 2px;
  align-items: center;
}

.ukraineFlag {
  width: 28px;
  height: 28px;
}

.logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  padding-top: 12px;
  padding-bottom: 12px;
}
