.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1184px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.navList {
  display: flex;
  gap: 28px;
}

.navLink {
  font-size: 16px;
  line-height: 1.25;
  color: #121417;

  padding-top: 12px;
  padding-bottom: 12px;
}

.navLink:hover {
  color: var(--light-green);
}

.loggedInBar {
  display: flex;
  gap: 16px;
  align-items: center;
}

.userNameWrapper {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
}

.userName {
  font-weight: 700;
}

.logoutBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;

  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background-color: #121417;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logoutBtn:hover {
  color: var(--light-green);
}

.authListBtn {
  display: flex;
  gap: 16px;
}

.loginIcon {
  width: 20px;
  height: 20px;
  color: var(--green);
}

.loginBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;

  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.loginBtn:hover .loginIcon,
.loginBtn:hover {
  color: var(--light-green);
}

.regBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;

  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background-color: #121417;
  padding-top: 12px;
  padding-bottom: 12px;
}

.regBtn:hover {
  color: var(--light-green);
}
