.filtersForm {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.dropdownWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdownLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
}

.dropdown {
  font-family: 'Roboto', sans-serif;

  appearance: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--text-color-black);

  border-radius: 12px;
  width: 221px;
  height: 48px;
  background-color: #fff;
}

.popUp {
  border-radius: 12px;
  background-color: #fff;
}
