html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

a {
  display: inline-block;
}

.main-text-with-opacity {
  color: var(--Opacity_60);
}

.small-text {
  font-size: 14px;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
}
